
body {
    text-align: center;
    background-image:url('/images/forest.png');    
    background-repeat: repeat-x;
    
    background-size: 100% 98.7%;
    overflow-x: hidden;
    overflow-y: hidden;
}
#paragraph-size{
    font-size: 30px;
    font-family: 'Chewy', cursive;
}

#time{
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    font-family: 'Arvo', serif;
}
#mytime1{
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    font-family: 'Arvo', serif;
}
#levels{
    padding: 3px;
}
#minutes{
    font-size:22px;
    font-family: 'Arvo', serif;

}
#seconds{
    font-size: 22px;
    font-family: 'Arvo', serif;
}
.container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}

#time{
    width:10%;
    height:10px;
    position:absolute;
    top:100px;
    font-size: 100%;
    right:45%;
}

#levels{
  position: absolute;
  top:80px;
  font-size:100%;
  left: 52%;
}